<template>
    <nav class="navbar navbar-expand-sm navbar-dark bg-info mb-2">
        <div class="container">
            <a href="#" class="navbar-brand"><h3>FirstApp</h3></a>
        </div>
    </nav>
</template>